:root{
    --primary: #fff;
}

.button{
    padding: .5rem 1.25rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--primary);
    cursor: pointer;
    transition: all .3s ease-out;
}

.button--primary {
    background-color: var(--primary);
    color: #242424;
}

.button--outline {
    background-color: transparent;
    color: #fff;
}

.button--medium {
    font-size: 1.2rem;
}

.button--large {
    padding: .6rem 1.5rem;
    font-size: 1.3rem;
}

.button--medium:hover,
.button--large:hover{
    background-color: #fff;
    color: #242424;
}